@model IEnumerable<Projekt_Sisteme_Interneti.Models.Ditet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dega.Emri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupi.EmGrupi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viti.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pedagogu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LlojiOres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salla)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dega.Emri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupi.EmGrupi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Viti.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pedagogu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LlojiOres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salla)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
